p, h1, h2 {
  font-family: Helvetica;
}
.titleheader {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}
.pattern {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}
h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}
.greenh {
  background-color: mediumspringgreen;
}
.redh {
  background-color: lightcoral;
}
.blueh {
  background-color: skyblue;
}
.price {
  font-family: inherit;
  font-weight: bold;
  color: blue;
}
img {
   border:1px solid #021a40;
}
